.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 13px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 30px;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    &.google-sign-in {
      background-image: url("../assets/google.svg");
      background-repeat: no-repeat;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      border: 2px solid #d4d4d4;
      min-width: 275px;
      justify-content:end;
      margin: 0 0 0 40px;

  
      &:hover {
        background-color: #d1d1d1;
        border: 2px solid #000000;
        transition: background-color .2s,border-color .2s;
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }