.navigation {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    margin-top: -20px;
    background-color: rgba(22, 22, 22, 0.562);
    font-weight: bold;
    font-size: 18px;
  
    .logo-container {
      height: 100%;
      width: 140px;
      padding: 0 20px 0 20px;
      min-width: 70px;
    }
  
    .links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-links {
        padding: 15px 15px;
        cursor: pointer;
      }
    }
  }